<h1>Reddit</h1>
<% @subs.each do |sub| %>
  <h1><%= sub.name %><h1>
  <% sub.links.each do |link| %>
    <p><%= link_to link.title, sub_link_url(sub,link) %></p>
    <% end%>
<% end %>

<%= link_to "New Sub", new_sub_url %>