Create Subreddit
<form action="<%= subs_url %>" method="post">
  <label>Name
  <input type="text" name="sub[name]">
  </label>

  <label>Creator ID
  <input type="text" name="sub[moderator_id]">
  </label>

  <%= render :partial => "layouts/authenticity" %>
  <input type="submit" value="Click">
</form>