<% @sub.links.each do |link| %>
  <p><%= link.title %></p>
  <p><%= link.url %></p>
<% end %>

<h1>New Link</h1>
<form action="<%= sub_links_url(@sub) %>" method="post">

  <label>Link Title
  <input type="text" name="link[title]">
  </label>

  <label>URL
  <input type="text" name="link[url]">
  </label>

  <%= render partial: "layouts/authenticity" %>
  <input type="submit" value="Click">
</form>